In [2]:
import pandas as pd

In [2]:
df = pd.read_csv('../datasets/oliveyoung_reviewsdata.csv')

In [4]:
df['product_name'].value_counts()

[올영PICK]콜레올로지 600mg*30정+컷팅젤리2포 (15일분) 기획/단품 중 택1    672980
[주현영, 이나연 찐템]딥트 3일 피치(맛)번 30정 (30일분)                622288
[올영PICK] 바이탈뷰티 메타그린 슬림업 (14일, 30+7일분 중 택1)          614460
경남 칼로 나이트 15포 (15일분)                                580956
[주현영, 이나연 찐템]딥트 3일 스트롱업 8포 (4일분)                    510230
[서현pick]콜레올로지 버닝올로지 디데이 3.8g*5포 (5일분)               491650
grn+ 벨리곰X슬림밸런스 분홍이/초록이 35일분 택 1                     339720
경남 칼로 스탑 PLUS 15포 + 칼로 컨트롤 PLUS 15포 기획(30일분)        321750
[서현Pick]콜레올로지 600mgX60정(1개월분)                       317420
[서현PICK]콜레올로지 컷팅 젤리 10포+2포 증정(12일분)                 267048
바이탈뷰티 메타그린 슬림업 30입 단품, 기획 중 택1                      200722
[한혜진PICK]바이탈뷰티 메타그린 부스터샷 7일                         155024
[9월 올영픽] 센시안 마시는 센시안 14포 (14일분)                     134815
센트 센트디 패스트샷 10일 다이어트 리뉴얼 10+2병 2종 중 택 1             124690
grn+ 초록이/분홍이 쓰리데이즈 시즌2 3개입(3일분) 2종 중 택 1             71098
[주현영, 이나연 찐템]딥트 3일 올케어 3일 프로그램 (24입)                 30654
Name: product_name, dtype: int64

In [5]:
df2 = pd.read_csv('../datasets/oliveyoung_reviewsdata.csv')

In [6]:
df2['product_name'].value_counts()

[올영PICK]콜레올로지 600mg*30정+컷팅젤리2포 (15일분) 기획/단품 중 택1    672980
[주현영, 이나연 찐템]딥트 3일 피치(맛)번 30정 (30일분)                622288
[올영PICK] 바이탈뷰티 메타그린 슬림업 (14일, 30+7일분 중 택1)          614460
경남 칼로 나이트 15포 (15일분)                                580956
[주현영, 이나연 찐템]딥트 3일 스트롱업 8포 (4일분)                    510230
[서현pick]콜레올로지 버닝올로지 디데이 3.8g*5포 (5일분)               491650
grn+ 벨리곰X슬림밸런스 분홍이/초록이 35일분 택 1                     339720
경남 칼로 스탑 PLUS 15포 + 칼로 컨트롤 PLUS 15포 기획(30일분)        321750
[서현Pick]콜레올로지 600mgX60정(1개월분)                       317420
[서현PICK]콜레올로지 컷팅 젤리 10포+2포 증정(12일분)                 267048
바이탈뷰티 메타그린 슬림업 30입 단품, 기획 중 택1                      200722
[한혜진PICK]바이탈뷰티 메타그린 부스터샷 7일                         155024
[9월 올영픽] 센시안 마시는 센시안 14포 (14일분)                     134815
센트 센트디 패스트샷 10일 다이어트 리뉴얼 10+2병 2종 중 택 1             124690
grn+ 초록이/분홍이 쓰리데이즈 시즌2 3개입(3일분) 2종 중 택 1             71098
[주현영, 이나연 찐템]딥트 3일 올케어 3일 프로그램 (24입)                 30654
Name: product_name, dtype: int64

In [10]:
df.columns

Index(['_id', 'product_name', 'review_name', 'review_content', 'review_date',
       'review_rating'],
      dtype='object')

In [11]:
df = df.drop_duplicates(subset=['product_name', 'review_name', 'review_content', 'review_date',
       'review_rating'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1440 entries, 0 to 4979029
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             1440 non-null   object
 1   product_name    1440 non-null   object
 2   review_name     1429 non-null   object
 3   review_content  1397 non-null   object
 4   review_date     1369 non-null   object
 5   review_rating   1345 non-null   object
dtypes: object(6)
memory usage: 78.8+ KB

In [13]:
df3 = pd.read_csv('../datasets/oliveyoung_data_third.csv')

In [14]:
df3 = df3.drop_duplicates(subset=['product_name', 'review_name', 'review_content', 'review_date',
       'review_rating'])

In [15]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1925 entries, 0 to 12756421
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             1925 non-null   object
 1   product_name    1925 non-null   object
 2   review_name     1917 non-null   object
 3   review_content  1774 non-null   object
 4   review_date     1868 non-null   object
 5   review_rating   1848 non-null   object
dtypes: object(6)
memory usage: 105.3+ KB

In [20]:
result = pd.concat([df, df3], axis=0)

In [29]:
result = pd.concat([df, df2, df3], axis=0)

In [31]:
result = result.drop_duplicates(subset=['product_name', 'review_name', 'review_content', 'review_date',
       'review_rating'])

In [32]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3216 entries, 0 to 12756421
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             3216 non-null   object
 1   product_name    3216 non-null   object
 2   review_name     3198 non-null   object
 3   review_content  3024 non-null   object
 4   review_date     3093 non-null   object
 5   review_rating   3054 non-null   object
dtypes: object(6)
memory usage: 175.9+ KB

In [33]:
result.to_csv('../datasets/oliveyoung_data.csv')

In [34]:
df_0= pd.read_csv('../datasets/oliveyoung_data.csv')
df_0[:3]

,Unnamed: 0,_id,product_name,review_name,review_content,review_date,review_rating
0,0,65090e01cca26a79a2f5d04c,"[주현영, 이나연 찐템]딥트 3일 피치(맛)번 30정 (30일분)",보리오빠,없으면 안될 최고의 diet템! 피치번을 추천합니당 ㅎㅎ 사진엔 없지만 4통째 먹고...,2023.08.27,5점만점에 5점
1,1,65090e01cca26a79a2f5d04d,"[주현영, 이나연 찐템]딥트 3일 피치(맛)번 30정 (30일분)",바보바니,알약 통통이하트 넘예뻐요. 자기전 먹고 효과있으면 얼마나 좋을까요 ㅜㅜ 나이들수록 ...,2023.09.14,5점만점에 5점
2,2,65090e01cca26a79a2f5d04e,"[주현영, 이나연 찐템]딥트 3일 피치(맛)번 30정 (30일분)",올영요정임니당,드라마틱하게 뭔가 달라진 건 없지만 자기 전에 죄책감을 덜어주는 의미로 하나씩 먹고...,2023.09.14,5점만점에 5점

In [35]:
df_0.isnull().sum()

Unnamed: 0          0
_id                 0
product_name        0
review_name        18
review_content    192
review_date       123
review_rating     162
dtype: int64

In [36]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3216 entries, 0 to 3215
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      3216 non-null   int64
 1   _id             3216 non-null   object
 2   product_name    3216 non-null   object
 3   review_name     3198 non-null   object
 4   review_content  3024 non-null   object
 5   review_date     3093 non-null   object
 6   review_rating   3054 non-null   object
dtypes: int64(1), object(6)
memory usage: 176.0+ KB

In [2]:
data= pd.read_csv('../datasets/oliveyoung_data.csv')

In [3]:
data.columns

Index(['Unnamed: 0', '_id', 'product_name', 'review_name', 'review_content',
       'review_date', 'review_rating'],
      dtype='object')

In [4]:
data['review_date']

0       2023.08.27
1       2023.09.14
2       2023.09.14
3       2023.09.04
4       2023.09.04
           ...
3211    2023.06.19
3212    2023.03.07
3213    2023.03.04
3214    2023.03.04
3215    2023.01.31
Name: review_date, Length: 3216, dtype: object

In [6]:
df_4= pd.read_csv('../datasets/wemake_data_test.csv')
df_4[:2]

,_id,product_name,review_name,review_content,review_date,review_rating
0,650bb123ed1d45cc75485e75,라이프허브 콤부차 레몬 1+1세트(5g x 60포) 콤부차 맛 7종(레몬/피치/베리...,art*********,잘 받았어요.잘 챙겨 먹고 관절이 좋아졌으면 좋겠네요.,2023.08.15,4.0
1,650bb123ed1d45cc75485e76,라이프허브 콤부차 레몬 1+1세트(5g x 60포) 콤부차 맛 7종(레몬/피치/베리...,ali******,"콤부차 우연히 마셔보고 음료수 대용으로 마시기 좋고, 유산균있고 하루 1~2잔씩 마...",2023.06.23,5.0

In [7]:
df_4 = df_4.drop_duplicates (subset=['product_name', 'review_name', 'review_content', 'review_date',
       'review_rating'])

In [8]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71 entries, 0 to 2640
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             71 non-null     object
 1   product_name    71 non-null     object
 2   review_name     67 non-null     object
 3   review_content  65 non-null     object
 4   review_date     63 non-null     object
 5   review_rating   59 non-null     float64
dtypes: float64(1), object(5)
memory usage: 3.9+ KB